<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>飲食店検索画面</title>
</head>
<body>
<header>
  <h1>お店を探す</h1>
  <nav>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/search">お店を探す</a></li>
    </ul>
  </nav>
</header>

<main>
  <h2>お店検索</h2>
  <form action="/results" method="GET">
    <label for="name">店名:</label>
    <input type="text" id="name" name="name" placeholder="例: スターバックスコーヒー">

    <label for="address">住所:</label>
    <input type="text" id="address" name="address" placeholder="例:京都市"/>

    <div>
      <label for="category">カテゴリー</label>
      <input type="text" id="category" name="category" placeholder="例: カフェ　など" >
    </div>

    <button type="submit">検索</button>
  </form>
</main>

<table border="1">
  <caption>Shop 一覧</caption>
  <thead>
  <tr>
    <th>店名</th>
    <th>住所</th>
    <th>営業時間</th>
    <th>紹介文</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="shop : ${shopInformations}">
    <td th:text="${shop.name}">(shopname)</td>
    <td th:text="${shop.address}">(address)</td>
    <td th:text="${shop.openhour}">営業時間</td>
    <td th:text="${shop.introduce}">紹介文</td>
  </tr>
  </tbody>
</table>

<footer>
  <p>&copy; 2025 飲食店検索サイト</p>
</footer>

</body>
</html>